// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$navy: #266DD3;
$test1: #454955;
$test2: #00487C;
$test3: #247BA0;
$test4: #9CAFB7;
$background-tab: #11222f;
$primary: #4DB6AC;
$accent: #46627f;
$white: whitesmoke;
$color-3: #bdc3c7;
