<% @bookings.each do |booking| %>
  <p><%= booking.room.hotel.name %></p>
  <p><%= booking.room.room_category.category %></p>
  <p><%= booking.room.number %></p>
  <p><%= booking.room.room_category.price %></p>
<% end %>