<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.pixabay.com/photo/2018/01/01/21/58/sky-3055030_1280.jpg);">
  <div class="container">
    <%= cl_image_tag("logo-starloghty_hwhwgn", class: "logo-starlight")%>
    <p>Manage your hotel in a easy and intuitive way</p>
    <%= link_to "Get Started!", hotels_path, class: "button"  %>
  </div>
</div>