<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.pixabay.com/photo/2018/01/01/21/58/sky-3055030_1280.jpg);">
  <div class="container">
    <h1>Starligh</h1>
    <p>Manage your hotel in a easy and intuitive way</p>
    <%= link_to "Hotels", hotels_path, class: "btn btn-primary"  %>
  </div>
</div>