<div class="footer">
  <div class="footer-links">
    <%= cl_image_tag "sv2jcgff2p45l0iknmyp_fsgtcg", class: "avatar" %>
    <%= cl_image_tag "ozhu8MnAqWybrqfiSoPqdJRJ", class: "avatar" %>
  </div>
  <div class="footer-copyright">
    Made by the best students at lewagon
  </div>
</div>