<div class="title">
  <h1>Rooms</h1>
</div>
<div class="cards-room-number">
  <% @rooms.each do |room| %>
    <div class="card-category-room-number" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.pixabay.com/photo/2014/10/16/08/39/bedroom-490779_1280.jpg)">
      <div class="card-hotel-name">
        <p><%=room.number %></p>
      </div>
      <%= link_to "", hotel_room_path(:hotel_id, :id), class: "card-link"%>
    </div>
  <% end %>

</div>

