.button {
  background-color: $navy;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 24px;
  border-radius: 8px;
    &:hover {
      text-decoration: none;
      color: white;
    }

}
