.button {
  background-color: $test2;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 24px;
  border-radius: 8px;
    &:hover {
      text-decoration: none;
      color: white;
    }

}

.button-dashboard {
  border-radius: 4px;
  background-color: $navy;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.button-dashboard span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-dashboard span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-dashboard:hover span {
  padding-right: 25px;
}

.button-dashboard:hover span:after {
  opacity: 1;
  right: 0;
}
