<h1>hotels</h1>
<div class="cards">
  <% @hotels.each do |hotel| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1486591038957-19e7c73bdc41?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80)">
      <%= link_to hotel_path(hotel)  do %>
        <p><%= hotel.name %> </p>
      <% end %>
    </div>
  <% end %>
</div>